.doctor_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.doctor_box {
  border-radius: 15px;
  width: 300px;
  height: 410px;
  margin-top: 100px;
  margin-bottom: 140px;
}

.doctor_box img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 2px solid rgba(24, 123, 200, 90%);
}

.booking_button {
  background-color: blue;
  color: white;
  padding: 10px 30px;
  border: none;
  font-size: 18px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 10px 0px;
}
