.header {
  background-color: #1b1212;
  padding: 15px 0 15px 0px;
  color: white;
}

.header-items {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo_menu {
  display: flex;
}

.h_logo {
  width: 60px;
  margin-right: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}
.menu li a {
  font-size: 20px;
  margin-right: 40px;
}

.header_button {
  background: none;
  font-size: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 15px;
  margin-right: 10px;
  color: white;
}

.header_button:hover {
  background: #6bd0ff;
  transition: 0.5s;
}
